<div class="container">
    <p class="title-noti text-center">
        <ngb-alert type="success" [dismissible]="false">
            Sách ebook được sưu tầm từ Internet, Bản quyền sách thuộc về Tác giả & Nhà xuất bản
        </ngb-alert> 
    </p>
    
    <div class="main-content">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="carousel-content">
                    <app-carousel carousel="carousel-1"></app-carousel>
                </div>
                <div class="book-details">
                    <div class="card">
                        <div class="card-body">
                            <div class="book">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <img class="book-cover" *ngIf="book.bookCover != ''" [src]="'data:image/jpeg;base64,' + book.bookCover"
                                            alt="Sách 1" />
                                            <img class="book-cover" *ngIf="book.bookCover == ''" src=""
                                            alt="Sách 1" />
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <div class="book-content">
                                            <h1 class="title">{{ book.title }}</h1>
                                            <div class="authors">
                                                <span>Tác giả: </span>
                                                <app-tags [authors]="book.authors" tagBy="author"></app-tags>
                                            </div>
                                            <div class="categories">
                                                <span>Thể loại: </span>
                                                <app-tags [categories]="book.categories" tagBy="category"></app-tags>
                                            </div>
                                            <div class="publisher">
                                                <span>Nhà xuất bản: </span> 
                                                <app-tags [publisher]="book.publisher" tagBy="publisher"></app-tags>
                                            </div>
                                            <span class="isbn">
                                                ISBN: {{ book.isbn }}
                                            </span>
                                            <span class="language">
                                                Ngôn ngữ: {{ book.language }}
                                            </span>
                                            <span class="numberOfPages">
                                                Số trang: {{ book.numberOfPages }} trang
                                            </span>
                                            <ngb-alert class="alert" type="info" [dismissible]="false">
                                                Vui lòng chọn định dạng file để tải hoặc đọc online. 
                                            </ngb-alert>
                                            <div class="action">
                                                <a href="{{ book.contentPdf }}" class="btn btn-warning">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                                                    </svg> 
                                                    Đọc online
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="book-description">
                                            <h3 class="book-description-title">
                                                Mô tả
                                            </h3>
                                            <div class="book-description-content text-justify" [innerHTML]="book.description | sanitizeHtml">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="carousel-content">
                    <app-carousel carousel="carousel-2"></app-carousel>
                </div>
                <app-category-list></app-category-list>
            </div>
        </div>
    </div>
</div>
