<mat-nav-list>
    <div class="logo py-4">
        <img src="./assets/logo.svg" alt="Company Logo" /> 
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2" style="color: #5036e4;">Quản lý</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">
        <mat-icon>home</mat-icon> Trang chủ
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users">
        <mat-icon>dashboard</mat-icon> Người dùng
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/categories">
        <mat-icon>dns</mat-icon> Thể loại
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/publishers">
        <mat-icon>markunread_mailbox</mat-icon> Nhà xuất bản
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/authors">
        <mat-icon>supervisor_account</mat-icon> Tác giả
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/books">
        <mat-icon>book</mat-icon> Sách
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/feedbacks">
        <mat-icon>feedback</mat-icon> Nhận xét
    </a>
</mat-nav-list>