.field-error {
    color: red;
    margin-top: 5px;
}
.brand_logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.logo__brand {
    width: 250; height: 85px;
}

.cart-header {
    background-color: #2FC;
}