<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="brand_logo">
                <a class="navbar-brand" [routerLink]="'/home'">
                    <img class="logo__brand" src="https://openlibrary.org/static/images/openlibrary-logo-tighter.svg" alt="">
                </a>
            </div>
            <div class="card">
                <h4 class="card-header text-center">Đăng nhập</h4>
                <div class="card-body">
                    <form [formGroup]="loginForm">
                        <ngb-alert *ngIf="message" type="info" [dismissible]="false">
                            {{ message }}
                        </ngb-alert> 
                        <div class="mb-3">
                            <label class="form-label">Tài khoản</label>
                            <input type="text" formControlName="username" class="form-control" />
                            <div *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched">
                                <span class="field-error" *ngIf="loginForm.controls.username.errors.required">
                                    Vui lòng nhập tài khoản
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mật khẩu</label>
                            <input type="password" formControlName="password" class="form-control" />
                            <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                                <span class="field-error" *ngIf="loginForm.controls.password.errors.required">
                                    Vui lòng nhập mật khẩu
                                </span>
                            </div>
                        </div>
                        <div>
                            <button [disabled]="loginForm.invalid" class="btn btn-primary" (click)="onSubmit()">
                                Đăng nhập
                            </button>
                            <a routerLink="/register" class="btn btn-link">Đăng ký</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>