.footer-content {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #2FC;
}
ul {
    padding: 0;
    list-style: none;
    li a{
        text-decoration: none;
        color: #333;
    }
    h2 {
        font-size: 1.2em;
    }
}
.contact a {
    padding-right:10px;
}