<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>{{ action }} thể loại</span>
        <span class="spacer"></span>
        <button mat-dialog-close mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="categoryForm">
        <div fxFlex fxLayout="column"> 
            <mat-form-field fxFlex *ngIf="dialogAction !== 'add'">
                <mat-label>ID</mat-label>
                <input matInput formControlName="id" readonly/>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Tên thể loại</mat-label>
                <input matInput formControlName="name" required [readonly]="dialogAction === 'view'"/>
                <mat-error *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.invalid">
                    <span *ngIf="categoryForm.controls.name.errors.required">
                        Tên thể loại không thể bỏ trống.
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Mã thể loại</mat-label>
                <input matInput formControlName="code" required [readonly]="dialogAction === 'view'"/>
                <mat-error *ngIf="categoryForm.controls.code.touched && categoryForm.controls.code.invalid">
                    <span *ngIf="categoryForm.controls.code.errors.required">
                        Mã thể loại không thể bỏ trống.
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="dialogAction !== 'view'" mat-raised-button color="primary" type="submit" (click)="handlerSubmit()"
        [disabled]="!(categoryForm.valid && categoryForm.dirty)">
        <mat-icon>save</mat-icon> {{ action }}
    </button>
    <button mat-raised-button color="warn" type="submit" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Close
    </button>
</mat-dialog-actions>